[submodule "lambda_conversion_hook_example"]
	path = comprehend_groundtruth_integration/lambda_conversion_hook_example
	url = git@github.com:aws-samples/amazon-sagemaker-groundtruth-and-amazon-comprehend-ner-examples.git
